<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Commenrh1</title>
  </head>
  <body>
    <h1>Edit comment id: <%= comment.id %>  </h1>
    <h2>Username: <%= comment.username%>  </h2>
    <form method="post" action="/comments/<%=comment.id%>?_method=PATCH" >
        <br>
        <label for="comment">Enter your comment: </label>
        <br>
        <textarea align="left" cols="30" rows="10" name="comment" id="comment" >          
        </textarea>
      </section>
      <br>
      <button style="background-color: rgb(67, 67, 67)">Save</button>
    </form>
    <br>
    <button onclick="window.location.href='/comments'" style="background-color: rgb(67, 67, 67)" >Back to comments</button>
  </body>
</html>