<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Commenrh1</title>
  </head>
  <body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
      <section>
        <label for="username">Enter user name: </label>
        <br>
        <input type="text" placeholder="Username" name="username" id="username">
      </section>
      <br/>
      <section>
        <label for="comment">Enter your comment: </label>
        <br>
        <textarea cols="30" rows="10" name="comment" id="comment" ></textarea>
      </section>
      <br>
      <button style="background-color: rgb(67, 67, 67)"> Add comment</button>
    </form>
  </body>
</html>
