<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sandwichButton">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="sandwichButton" class="collapse navbar-collapse">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/r/soccer">Soccer</a>
              <a class="nav-link" href="/r/chickens">Chickens</a>
              <a class="nav-link" href="/r/mightyharvest">MightyHarvest</a>
              <a class="nav-link" href="/random">Random</a>
            </div>
          </div>
        </div>
      </nav>